
<form [formGroup]='alumnoForm'>
    <h1>Formulario de Alumno</h1>
    <div class="datosAlumno" >

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre">          
        </mat-form-field>
        
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Direccion</mat-label>
                <input matInput type="text" formControlName="direccion">          
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Alumno</mat-label>
                <input matInput type="text" formControlName="alumno">
        </mat-form-field>
        <br>

         <br>
         <mat-form-field appearance="fill">
            <mat-label>Fecha </mat-label>
            <input matInput [matDatepicker]="fecha" formControlName="fecha">
            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
            <mat-datepicker #fecha></mat-datepicker>
          </mat-form-field>       
    

        <button mat-raised-button (click)="cargarAlumno()">Guardar</button>
       
    </div>
    
</form>
  
